.section-footer{
 margin: 5rem 13rem;

}
.footer{
 padding : 5rem 0;
 display: flex;
 justify-content: space-between;
 align-items: center;

 &-logo{
  display: flex;
  flex-direction: column;
  flex: 0 0 45%;
  padding-right: 5rem;

  &-img{
   margin-bottom: 5rem;
   height: 3rem;
  }
  &-paragraph{
   font-size: 1.6rem;
   letter-spacing: .9px;
   line-height: 1.5;
   color: $color-grey-dark;
   padding-right: 4rem;
  }
 }

 &-nav{
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex: 0 0 55%;
 }
}
.nav{
 display: flex;
 flex-direction: column;

 &-head{
  font-size: 2.2rem;
 }

 &-list{
  list-style: none;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
 }

 &-links{
  padding-top: 2.6rem;

  &-items{
   text-decoration: none;
   text-transform: none;
   color: $color-grey-dark;

   &:hover{
    // display: inline-block;
    color: $color-grey-dark-4;
    transition: all .4s;
    // background-color: $color-grey-dark;
    
   }
  }

 }
}