.header-navigation{
 color:var$color-black;
 margin: 3rem 10rem;
 // position: relative;

&__logo{
height: 3rem;
margin-right: 3rem;
}

 &-nav{
 display: flex;
 justify-content: space-between;
 font-family: 300;
 position: relative;
}

 &-list{
  list-style: none;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 &-link{
  text-decoration: none;
  display: flex;
  color: $color-grey-dark;
  padding: 1.2rem;
  border-radius: 4px;

  &-2{
   text-decoration: none;
   color: $color-grey-dark-3;
   font-weight: bold;
   font-size: 1.3rem;
  }

  &:hover{
   display: inline-block;
   color: $color-white;
   transition: all .4s;
   background-color: $color-grey-dark;
   // padding: 2rem;
  }
 }
 
 &-item{
 padding: 1rem;
  }
}
