//colours
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-black :#000;
$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-4:rgb(194, 194, 194);
$color-grey-dark-3:rgb(46, 46, 46);
$color-grey-dark-5:rgb(88, 88, 88);
$color-green:#55c57a;
$color-green-1:#72bb8b;
$color-white:white;

//grid

$grid-width: 114rem;
$gutter-horizontal: 1rem;
$gutter-vertical-small : 6rem;
$gutter-vertical: 8rem;